@model IEnumerable<Coreproject.Models.Proveedor>
@{
    ViewData["Title"] = "Proveedores";
}

<h1>Proveedores</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<p>
    <a asp-action="Create" class="btn btn-success">Nuevo Proveedor</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    <a asp-controller="Crearpdf" asp-action="Generarpdf" class="btn btn-success">Generar PDF</a>
                </td>
            </tr>
        }
    </tbody>
</table>